$tile-color: black;
$bevel-color: grey;


.board {
  border: 8px solid $bevel-color;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  width: fit-content;
  height: fit-content;
}

.row{
  display: flex;
  // outline: 1px solid black;
}

.tile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vh;
  height: 12vh;
  // outline: 1px solid black;
}

.coloredTile {
  @extend .tile;
  background-color: $tile-color;
}

.piece{
  color: red;
}