$tile-dark-color: #779556;
$tile-light-color: #ebecd0;
$highlight-dark: red;
$highlight-light: red;
$highlight-focus: #f6f669;
$bevel-color: grey;

.board {
  border: .5em solid $bevel-color;
  border-radius: .5em;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  width: fit-content;
  height: fit-content;
}

.row {
  display: flex;
  // outline: 1px solid black;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vh;
  height: 12vh;
  background-color: $tile-light-color;
  // outline: 1px solid black;
}

.coloredTile {
  @extend .tile;
  background-color: $tile-dark-color;
}

.whitePiece {
  color: white;
  font-size: 5rem;
}

.blackPiece {
  color: black;
  font-size: 5rem;
}

.focused {
  background-color: $highlight-focus;
}

.highlighted {
  // background-color: $highlight-dark;
  background-image: url('../public/greydot.png');
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
}


.highlightedPiece {
  // background-image: url('../public/greycircle.png');
  // background-size: 3.5em;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-color: #b04040;
  background-color: #DC1c13;
}